<!DOCTYPE html>
<html>
<head>
    <title>NextGen Digi Health</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="role-container">
    <div class="role-card">
        <h1>NextGen Digi Health</h1>

        <a href="/login/patient" class="role-btn patient">Patient Portal</a>

        <a href="/login/doctor" class="role-btn doctor">Doctor Panel</a>

        <a href="/hospital/login" class="role-btn hospital">Hospital Management</a>
    </div>
</div>

</body>
</html>